&navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    &__main-navbar {
        height: 75px;
        background: $dark;
    }
    &__sub-navbar {
        height: 50px;
        background: darken($dark, 5%);
    }
}
