&search-sidebar {
    background: $dark;
    width: 300px;
    position: fixed;
    left: 50px;
    top: 50px;
    bottom: 50px;
    z-index: 500;
}

&logo {
    display: none;
    color: $accent;
    padding: 30px;
    position: fixed;
    z-index: 100;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    //background: -moz-linear-gradient(top, $blue 0%, transparentize($blue, 1) 100%); /* FF3.6-15 */
    //background: -webkit-linear-gradient(top, $blue 0%,transparentize($blue, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    //background: linear-gradient(to bottom, $blue 0%,transparentize($blue, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    h1 {
        display: inline-block;
        padding-bottom: 3px;
        border-bottom: 2px solid;
        text-shadow: 0px 0px 40px #000;
        margin: 0;
    }
}

&welcome-message {
    position: fixed;
    width: 300px;
    box-sizing: border-box;
    top: 50px;
    right: 50px;
    z-index: 500;
    padding: 40px 20px 0px;
    background: lighten($dark, 5%);
    border-bottom: 1px solid lighten($dark, 5%);

    h2 {
        margin-bottom: 0.5em;
        .num-rooms {
            font-style: italic;
            color: $accent;
        }
    }
}

&search-filters {
    form {
        padding: 20px;
        input[type='range'] {
            margin-top: 15px;
            width: 100%;
        }
    }
    .priceSort, .safetySort {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid darken($blue, 5%);
        background: darken($blue, 5%);
        font-size: 0.85em;
        cursor: pointer;
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none;
    }
    .sortByPrice, .sortBySafety {
        text-transform: uppercase;
        font-size: 0.85em;
    }
    .sortByPrice {
        .priceSort {
            background: $light;
            color: $blue;
        }
        .safetySort {
            color: lighten($blue, 30%);
        }
    }
    .sortBySafety {
        .safetySort {
            background: $light;
            color: $blue;
        }
        .priceSort {
            color: lighten($blue, 30%);
        }
    }
    .distance-input {
        opacity: 0.8;
        text-align: right;
        text-transform: uppercase;
        font-size: 0.85em;
    }
    .result-count {
        padding: 0px 20px 15px;
        text-transform: uppercase;
        font-size: 0.85em;
        opacity: 0.8;
        position: absolute;
        top: 92px;
    }
}

&search-results {
    .result-listings {
        overflow: scroll;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 120px;
        .o-neighborhood-listing {
            cursor: pointer;
            padding: 0px 30px;
            margin: 0px 10px 10px;
            border: 1px solid lighten($dark, 5%);
        }
    }
}
